[Unit]
Description=My Booth Shell Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/.boothshell_env/bin/boothshellservice
WorkingDirectory=/opt/boothshell
Restart=always

[Install]
WantedBy=multi-user.target
